* {
    padding: 0;
    margin: 0;
    background: #1C1C1E;
    outline: none;
}

@font-face {
    font-family: "Gotham Pro";
    src: url("../fonts/GothamProBold/GothamProBold.eot");
    src: url("../fonts/GothamProBold/GothamProBold.eot?#iefix")format("embedded-opentype"), url("../fonts/GothamProBold/GothamProBold.woff") format("woff"), url("../fonts/GothamProRegular/GothamProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

section>div>p {
    font-family: Gotham Pro;
    font-size: 32px;
    line-height: 31px;
    color: #FFFFFF;
    /* margin-top: 74px; */
    /* margin-bottom: 32px; */
    margin: 74px 0 32px 20px;
}

.carousel {
    display: block;
    margin: auto;
    width: 1190px;
}

.slick_nav {
    display: flex;
    justify-content: center;
}

.wrapper {
    height: 357px;
    width: 357px;
    margin-bottom: 40px;
}

.wrapper img {
    border-radius: 8px;
    display: block;
    margin: auto;
}

.content {
    position: relative;
    background-size: cover;
    height: 357px;
    width: 357px;
    display: block;
    margin: auto;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.4);
    /* margin: 0 20px; */
}

.description {
    position: absolute;
    bottom: 0px;
    height: 140px;
    width: inherit;
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
}

.description p {
    letter-spacing: -0.08px;
    color: white;
    background-color: RGB(0, 0, 0, 0);
    position: absolute;
    left: 24px;
    bottom: 24px;
    font-family: Gotham Pro;
    font-size: 24px;
    line-height: 130%;
    color: #FFFFFF;
}

.slick-dots {
    position: inherit;
    bottom: -25px;
    padding: 0;
    margin: 0;
    margin-left: 15px;
    list-style: none;
    text-align: center;
    width: auto;
    margin-right: 25px;
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
}

.prew_arrow, .next_arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../image/Ellipse.png");
    background-size: contain;
    font-size: 16px;
    height: 48px;
    width: 48px;
}

.prew_arrow p, .next_arrow p {
    border: 2px solid rgb(255, 255, 255);
    width: 9px;
    height: 9px;
    border-bottom: 0;
    border-right: 0;
    transform: translateX(2px) rotate(315deg);
}

.next_arrow p {
    transform: translateX(-2px) rotate(135deg);
}

.prew_arrow:hover, .next_arrow:hover {
    cursor: pointer;
}

.prew_arrow:hover>p, .next_arrow:hover>p {
    border-color: #F48E06;
    ;
}

.slick-dots li button:before {
    font-size: 8px;
    color: rgb(255, 255, 255);
}

.slick-dots li {
    width: 7px;
}

.slick-dots li.slick-active button:before {
    font-size: 12px;
    color: rgb(255, 255, 255);
}

@media (max-width: 768px) {
    .wrapper {
        height: 300px;
        width: 300px;
        /* margin-bottom: 76px; */
        margin: 0 20px 39px 0;
    }
    .carousel {
        display: block;
        margin: auto;
        width: 690px;
    }
    .content {
        width: 300px;
        height: 300px;
    }
    section>div>p {
        margin-left: 25px;
    }
}

@media (max-width: 375px) {
    .prew_arrow, .next_arrow {
        display: none;
    }
    .carousel {
        display: block;
        margin: auto;
        width: 375px;
    }
    .content {
        width: 327px;
        height: 327px;
        /* margin: 0 8px; */
    }
    .wrapper {
        height: 327px;
        width: 327px;
        margin: 0 8px;
    }
    .slick_nav {
        margin-top: 45px;
    }
    section>div>p {
        letter-spacing: -0.5px;
        margin-left: 18px;
    }
}